
$primary:       #3c37f1 !default;
$success:       #00d663 !default;
$info:          #00b3ff !default;
$warning:       #ffe671 !default;
$danger:        #ff696d !default;

@import "../../node_modules/bootstrap/scss/bootstrap";
